<!doctype html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<meta name="description" content="">
<meta name="google-site-verification" content="2gOfe68CeBXC40AOiVm6a8cEVlyD5xMAJVVbg5IfDj4" />

	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="../img/icon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Ruimtevrij.nl | Ruimtevrij biedt tijdelijke en permanente oplossingen voor uw opslagprobleem.</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Teko:700|Titillium+Web" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

</head>
<body>
    <div class="icon-bar animated fadeInRight">
  <a href="https://www.facebook.com/Sur5mm-212490611514/" class="facebook"><i class="fab fa-facebook"></i></a> 
  <a href="https://www.linkedin.com/in/wieb-van-der-leij-4831a428/" class="linkedin"><i class="fab fa-linkedin"></i></a>
  <a href="/contact" class="twitter"><i class="fas fa-envelope"></i></a> 
</div>

    <nav class="navbar navbar-expand-lg fixed-top p-0">
  <div class="clip px-5"><a class="navbar-brand p-0 m-0" href="/"><img src="img/brand.jpg" height="65px"></a></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav m-auto">
      <li class="nav-item px-3">
        <a class="nav-link hvr-underline-from-center" href="/opslagruimte">Opslagruimte<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link hvr-underline-from-center" href="/oefenruimte">Oefenruimte</a>
      </li>
           <li class="nav-item px-3">
        <a class="nav-link hvr-underline-from-center" href="/prijzen">Prijzen</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link hvr-underline-from-center" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>