<% include partials/soloheader %>
<% include partials/solonav %>
    <nav id="Breadcrumb" class="pt-5" aria-label="Breadcrumb">
  <ul>
    <li class="d-inline breadcrumb-item text-small"><a href="/">Start</a></li>
    <li class="d-inline breadcrumb-item breadcrumb-item-selected text-small"><a href="/prijzen">Prijzen</a></li>
  </ul>
</nav>

<div class="container">
  <h2 class="p-5">Bedankt voor uw bericht!</h2>
  <p><a href="/">Terug naar de website.</a></p>
</div>

<% include partials/footer %>