<% include partials/header %>
    <!--<link href="stylesheets/index.css" rel="stylesheet"/>-->
<section class="container-fluid p-0" id="main">    
    <div class="col-lg-6 main animated fadeIn">
       <h1 class="display-4 text-light"><span class="blue">	&mdash;</span> Ruimtevrij biedt tijdelijke en permanente oplossingen voor uw opslagprobleem.</h1>
       <button class="btn btn-primary hvr-float-shadow">Neem contact op</button>
    </div>
</section> 

<section class="container-fluid py-5 my-5" id="over">
    <div class="container">
      <div class="row p-0">
        <div class="col-lg-4"><img src="img/5.jpeg" class="img-fluid" alt="">
        <h1 class="pt-5">Opslagruimte</h1>
            <hr>
            <span class="blue">	&mdash;</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis accusamus ea totam, doloremque officia.
            </p>
            <button class="btn btn-outline-secondary hvr-float-shadow">Neem contact op &rarr;</button>
          </div>
        <div class="col-lg-4"><img src="img/3.jpeg" class="img-fluid" alt="">
        <h1 class="pt-5">Oefenruimte</h1>
            <hr>
            <span class="blue">	&mdash;</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis accusamus ea totam, doloremque officia.
            </p>
            <button class="btn btn-outline-secondary hvr-float-shadow">Neem contact op &rarr;</button>
          </div>
        <div class="col-lg-4"><img src="img/4.jpeg" class="img-fluid" alt="">
            <h1 class="pt-5">Prijzen</h1>
            <hr>
           <span class="blue">	&mdash;</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis accusamus ea totam, doloremque officia.
            </p>
            <button class="btn btn-outline-secondary hvr-float-shadow">Meer informatie &rarr;</button>
          </div>
        </div>
      </div>
</section>

<section class="container-fluid" id="info">
  <div class="container p-5">
    <div class="row">
      <div class="col-lg-6 pb-5">
        <h1 class="pt-5">Onze missie.</h1>
        <hr>
     <span class="blue">	&mdash;</span> Zowel voor particulieren als voor bedrijven hebben wij een passende oplossing voor al uw (tijdelijke) ruimteproblemen. Voor al uw ruimteproblemen hebben wij een <span class="blue">oplossing</span> en we zijn altijd bereid met u mee te denken om tot de beste oplossing te komen.
      </div>
      <div class="col-lg-6 pb-5">
        <h1 class="pt-5">Bewaking.</h1>
        <hr>
      <span class="blue">	&mdash;</span>  Zowel binnen als buiten wordt het pand <span class="blue">24 uur</span> per dag bewaakt door <span>bewakingscamera's</span>, waardoor al uw kostbare zaken veilig zijn gestald. Het terrein is toegankelijk van 08.00 uur tot 20.00 uur, 7 dagen per week. Maar ook als u buiten deze tijden bij uw goederen wilt kunt u ons daarvoor benaderen.
      </div>
    </div>
  </div>
</section>




<% include partials/footer %>
    <script src="js/bedankt.js"></script>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h2>Bedankt voor je bericht!</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Sluiten</button>
      </div>
    </div>

  </div>
</div>
</html>