<% include partials/header %>
    <!--<link href="stylesheets/index.css" rel="stylesheet"/>-->
<section class="container-fluid p-0" id="main">    
    <div class="col-lg-6 main animated fadeIn">
       <h1 class="display-4 text-light"><span class="blue">	&mdash;</span> Ruimtevrij biedt tijdelijke en permanente oplossingen voor uw opslagprobleem.</h1>
       <hr>
       <button class="btn btn-primary hvr-float-shadow">Neem contact op</button>
    </div>
</section> 

<section class="container-fluid py-5 my-5" id="over">
    <div class="container">
      <div class="row p-0">
        <div class="col-lg-4"><img src="img/5.jpg" class="img-fluid" alt="">
        <h2 class="mt-5">Opslagruimte</h2>
            <hr>
            <span class="blue">	&mdash;</span>
Ruimtevrij biedt opslagruimtes aan van diverse afmetingen. Deze worden allen verhuurd op basis van vierkante meters en niet op basis van inhoud zoals vele concurrenten doen            <a class="btn btn-outline-secondary hvr-float-shadow mb-2" href="/opslagruimte">Naar opslagruimte &rarr;</a>
          </div>
        <div class="col-lg-4"><img src="img/4.jpg" class="img-fluid" alt="">
        <h2 class="mt-5">Oefenruimte</h2>
            <hr>
            <span class="blue">	&mdash;</span> 
            Ruimtevrij heeft de beschikking over 3 oefenruimtes, deze zijn per uur of per dagdeel te huren.
            </p>
            <a class="btn btn-outline-secondary hvr-float-shadow mb-2" href="/oefenruimte">Naar oefenruimte&rarr;</a>
          </div>
        <div class="col-lg-4"><img src="img/3.jpg" class="img-fluid" alt="">
            <h2 class="mt-5">Prijzen</h2>
            <hr>
           <span class="blue">	&mdash;</span> 
           Klik hier voor een overzicht van onze prijzen.
            </p>
            <a class="btn btn-outline-secondary hvr-float-shadow mb-2" href="/prijzen">Meer informatie &rarr;</a>
          </div>
        </div>
      </div>
</section>

<section class="container-fluid" id="info">
  <div class="container p-5">
    <div class="row">
      <div class="col-lg-6 pb-5">
        <h2 class="mt-5">Onze missie.</h2>
        <hr>
     <span class="blue">	&mdash;</span> Zowel voor particulieren als voor bedrijven hebben wij een passende oplossing voor al uw (tijdelijke) ruimteproblemen. Voor al uw ruimteproblemen hebben wij een <span class="blue">oplossing</span> en we zijn altijd bereid met u mee te denken om tot de beste oplossing te komen.
      </div>
      <div class="col-lg-6 pb-5">
        <h2 class="mt-5">Bewaking.</h2>
        <hr>
      <span class="blue">	&mdash;</span>  Zowel binnen als buiten wordt het pand <span class="blue">24 uur</span> per dag bewaakt door <span>bewakingscamera's</span>, waardoor al uw kostbare zaken veilig zijn gestald. Het terrein is toegankelijk van 08.00 uur tot 20.00 uur, 7 dagen per week. Maar ook als u buiten deze tijden bij uw goederen wilt kunt u ons daarvoor benaderen.
      </div>
    </div>
  </div>
</section>

<% include partials/footer %>
