<% include partials/soloheader %>
<% include partials/solonav %>
    <nav id="Breadcrumb" class="pt-5" aria-label="Breadcrumb">
  <ul>
    <li class="d-inline breadcrumb-item text-small"><a href="/">Start</a></li>
    <li class="d-inline breadcrumb-item breadcrumb-item-selected text-small"><a href="/avg">Opslagruimte</a></li>
  </ul>
</nav>

<% include partials/footer %>