<% include partials/soloheader %>
<% include partials/solonav %>
    <nav id="Breadcrumb" class="pt-5" aria-label="Breadcrumb">
  <ul>
    <li class="d-inline breadcrumb-item text-small"><a href="/">Start</a></li>
    <li class="d-inline breadcrumb-item breadcrumb-item-selected text-small"><a href="/avg">Opslagruimte</a></li>
  </ul>
</nav>
<div class="container-fluid" id="opslag">
  <div class="container">
          <h1 class="py-5">Opslagruimte</h1>
<hr>
    <div class="row pb-5">
      <div class="col-sm-4 p-0"><img src="img/6.jpeg" class="img-fluid"></div>
      <div class="col-sm-4 p-0"><img src="img/3.jpg" class="img-fluid"></div>
      <div class="col-sm-4 p-0"><img src="img/5.jpg" class="img-fluid"></div>
    </div>
    <p>
      Iedere ruimte van Ruimtevrij is voorzien van verlichting en  een stopcontact met 230 volt, de verhuisboxen en de containers zijn niet apart voorzien van verlichting en hebben ook geen stroomvoorziening.
<br><br>
Ruimtevrij heeft in de opslagruimte voor de klanten een steekwagen en een palletwagen.<br>
Mocht u niet in het bezit zijn van pallets of bv IBC containers, maar hier toch gebruik van wilt maken kunt u die bij ons huren.
    </p>
    <hr>
    <div class="d-inline">
      <button class="btn btn-outline-secondary hvr-float-shadow mb-5" href="/contact">Contact opnemen &rarr;</button>
      <button class="btn btn-outline-secondary hvr-float-shadow  mb-5" href="/prijzen">Naar prijzen &rarr;</button>
    </div>
  </div>
</div>

<% include partials/footer %>