<% include partials/soloheader %>
<% include partials/solonav %>
    <nav id="Breadcrumb" class="pt-5" aria-label="Breadcrumb">
  <ul>
    <li class="d-inline breadcrumb-item text-small"><a href="/">Start</a></li>
    <li class="d-inline breadcrumb-item breadcrumb-item-selected text-small"><a href="/avg">Opslagruimte</a></li>
  </ul>
</nav>
<div class="container-fluid" id="opslag">
  <div class="container">
          <h1 class="my-5">Opslagruimte</h1>
<hr>
    <div class="row pb-5">
      <div class="col-md-8">
            <p class="">
Ruimtevrij biedt opslagruimtes aan van diverse afmetingen. Deze worden allen verhuurd op basis van vierkante meters en niet op basis van inhoud zoals vele concurrenten doen. Alle hallen van Ruimtevrij zijn 24 uur per dag voor u bereikbaar en toegankelijk, daarnaast zijn ook alle hallen 24 uur per dag video bewaakt.
<br><br>
Ruimtevrij heeft opslagruimtes met de volgende afmetingen:
<br><br>
25 m2, 35 m2, 45 m2 en 75 m2, al deze ruimtes hebben een minimale hoogte van 4 meter.
<br><br>
Daarnaast hebben wij en hal met verhuiskisten, deze hebben een afmeting van 2x2x2 meter.
<br><br>
Ook staan er buiten een aantal zeecontainers, zgn. 20 voeters, deze zijn 6x2,5x2,5 meter.     </div>
      <div class="col-md-4">
      <div class="col-md-12 p-0"><img src="img/6.jpeg" class="img-fluid  m-2"></div>
      <!--<div class="col-md-12 p-0"><img src="img/3.jpg" class="img-fluid m-2"></div>-->
      <div class="col-md-12 p-0"><img src="img/5.jpg" class="img-fluid m-2"></div>
    </div>
    </div>

    <hr>
    <div class="d-inline">
      <a class="btn btn-outline-secondary hvr-float-shadow mb-5" href="/contact">Contact opnemen &rarr;</a>
      <a class="btn btn-outline-secondary hvr-float-shadow  mb-5" href="/prijzen">Naar prijzen &rarr;</a>
    </div>
  </div>
</div>

<% include partials/footer %>