<% include partials/soloheader %>
<% include partials/solonav %>
    <nav id="Breadcrumb" class="pt-5" aria-label="Breadcrumb">
  <ul>
    <li class="d-inline breadcrumb-item text-small"><a href="/">Start</a></li>
    <li class="d-inline breadcrumb-item breadcrumb-item-selected text-small"><a href="/prijzen">Prijzen</a></li>
  </ul>
</nav>
<div class="container-fluid" id="opslag">
  <div class="container">
          <h1 class="my-5">Prijzen</h1>
<hr>
    <div class="row pb-5">
      <div class="col-md-6">
        <p>Op dit moment hanteren wij de volgende prijzen:
</p>
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Vierkante meters</th>
      <th scope="col">Prijs</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">25 m2</th>
      <td>€100 per maand</td>
    </tr>
    <tr>
      <th scope="row">35 m2</th>
      <td>€125 per maand</td>
    </tr>
    <tr>
      <th scope="row">45 m2</th>
      <td>€175 per maand</td>
    </tr>
    <tr>
      <th scope="row">75 m2</th>
      <td>€350 per maand</td>
    </tr>    
      <tr>
      <th scope="row">Verhuiskist</th>
      <td>€30 per maand</td>
    </tr>  
      <tr>
      <th scope="row">Container</th>
      <td>€60 per maand</td>
    </tr>    
  </tbody>
</table>
            <p>
Voor ondernemers geldt dat deze prijzen exclusief BTW zijn!   </p>
      <a class="btn btn-outline-secondary hvr-float-shadow my-5" href="/contact">Contact opnemen &rarr;</a>

      </div>
            <div class="col-md-6 pt-5 my-5 d-md-block d-nonea"><img src="img/brand.jpg" class="img-fluid m-2"></div>

    <hr>
    <div class="d-inline">
    </div>
  </div>
</div>
</div>

<% include partials/footer %>