@import url("imports/hovereffects.css");

body{
  padding-top:75px!important;
  margin:0;
  padding:0;
  height:100%;
  width:100%!important;
  overflow-x:none!important;
}

#opslag p{
  font-size:20px;
}

#opslag h1,h2{
  padding-left:10px;
  border-left:15px solid #266DB2;
}



h1,h2{
  font-family: 'Teko', sans-serif!important;
}

span.blue{
  color:#266DB2;
}

span.white{
  color:white;
}

.btn, .btn-lg:hover{
  transition:.4s ease-in-out!important;
}

a:hover{
  color:white!important;
  text-decoration:none;
}

p{
  font-family: 'Titillium Web', sans-serif;
}

.icon-bar {
  position: fixed;
  top: 50%;
  right:0%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index:1000!important;
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
  
}

.facebook {
  background: #3B5998;
  color: white;
  box-shadow:0px 10px 20px rgba(0,0,0,0.6);
  z-index:1000!important;
}

.twitter {
  background: #55ACEE;
  color: white;
  box-shadow:0px 10px 20px rgba(0,0,0,0.6);
  z-index:1000!important;
}

.linkedin {
  background: #007bb5;
  color: white;
  box-shadow:0px 10px 20px rgba(0,0,0,0.6);
}


.navbar{
  background:#4267B2!important;
  font-family: 'Teko', sans-serif!important;
  color:black!important;
  box-shadow:0px 20px 40px rgba(0,0,0,0.4);
  /*border-bottom:5px solid #4271ff;*/
}

.navbar-brand{
  color:black;
  border:10px solid white;
}

.navbar .nav-link{
  font-family: 'Teko', sans-serif;
  color:white;
  font-size:24px;
}

.clip{
  background:white!important;
-webkit-clip-path: polygon(0 0, 100% 0, 53% 100%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 53% 100%, 0% 100%);
padding-left:50px!important;
padding-right:150px!important;
}

  

.navbar-toggler{
  color:white;
  font-size:24px!important;
}

#Breadcrumb ul {
  font-family: 'Titillium Web', sans-serif;
  list-style-type:none!important;
}

#Breadcrumb li a{
  color:black!important;
}

#main{
  -webkit-box-shadow: inset 0px 0px 95px 23px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 95px 23px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 95px 23px rgba(0,0,0,0.75);
  background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("../img/8.jpg");
  background-size:cover;
  height:700px;
}

#main hr{
  border:0.7px solid white;
}


@media only screen and (max-width: 600px) {
  body{
  padding-top:60px!important;
  }
  #main{
    height:100vh;
    background-position:center;
  }
  .clip{
    -webkit-clip-path: polygon(0 0, 100% 0, 66% 100%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 66% 100%, 0% 100%);
    padding-left:0px!important;
    padding-right:70px!important;
  }
  .main{
  position:absolute!important;
  bottom:30%!important;
  left:0%!important;
  padding-right:50px!important;
  }
  #main h1{
    font-size:10vw;
  }
  .navbar-brand h1{
    font-size:7vw;
  }
}
#main .row{
  height:600px;
}

@media (min-height: 1024px){
  .main{
     position:absolute!important;
  bottom:50%!important;
  left:0%!important;
  }
}


#main .main{
  position:absolute;
  bottom:20%;
  left:10%;
  /*color:black;*/
  /*background-color:#4267b2;;*/
}

.btn-outline-light{
  font-size:24px!important;
  font-family: 'Titillium Web', sans-serif!important;
  border-radius:0px!important;
  border:2px solid white!important;
  /*background:black!important;*/
  color:white!important;
}

.btn-outline-secondary{
  background:#4267b2!important;
  border:2px solid #4267b2!important;
  color:white!important;
  font-family: 'Titillium Web', sans-serif!important;
  
}

.btn-outline-secondary:hover{
  box-shadow:0px 30px 60px rgba(0,0,0,.3)!important;
  color:white!important;
}

#over p{
    font-family: 'Titillium Web', sans-serif!important;
}

#over img{
  /*box-shadow:0px 30px 60px rgba(0,0,0,.3);*/
}

#info p{
    color:black;
    /*font-size:20px;*/
}

#contact{
     font-family: 'Titillium Web', sans-serif!important;
}

#contact label{
      font-family: 'Teko', sans-serif!important;
      font-size:20px;
}

/*FOOTER*/
footer{
  background:#4267b2;
  color:black;
  font-family: 'Titillium Web', sans-serif!important;
}

footer a{
  color:white;
  font-family: 'Teko', sans-serif!important;
  font-size:24px;
}

footer a:hover{
  text-decoration:none;
  color:white!importantna;
}

/*COOKIES!important*/

#cookieConsent {
    background-color: rgba(255,255,255,0.8);
    min-height: 50px;
    font-size: 14px;
    color: #333;
    line-height: 26px;
    padding: 14px 0 14px 30px;
    font-family: "Titillium Web",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #266db2;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: #0e47f5;
    color: white;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
    font-family: "Teko",Helvetica,sans-serif;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #266db2;
}


